@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1e293b;
}

::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #64748b;
}

.safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
}

@keyframes scroll-text {

    0%,
    15% {
        transform: translateX(0);
    }

    85%,
    100% {
        transform: translateX(var(--scroll-width));
    }
}

.animate-marquee {
    animation-name: scroll-text;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* Scroll back and forth */
}